body {
    margin: 30;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #06aca1, #838479, #4f0ba9);
    color: #fff;
}

.container {
    padding: 80px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}
#backButton {
    position: absolute;
    top: 30px;
    padding: 10px;
    left: 40px;
}
#proceedButton {
    
    color: #3498db;
    border: none;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
}

#backButton:hover, #proceedButton:hover {
    background-color: #5cd5c5;
    color: #fff;
}

.option-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #fff;
    color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5cd5c5;
    color: #fff;
}
