body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background: linear-gradient(45deg, #06aca1, #838479, #4f0ba9);
    color: #fff;
    padding: 20px;
    height: 100%;
  box-sizing: border-box;
}

header {
    margin-bottom: 100px;
}

details {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

details summary {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #fff;
    color: #3498db;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* Additional styling for the dropdown */
.rule-dropdown {
    position: relative;
}

.rule-dropdown::after {
    content: '\25BC'; /* Unicode character for down arrow */
    font-size: 12px;
    color: #3498db;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* Left align text in the five boxes */
details p, details h2, input, select {
    text-align: left;
}

/* Adjust alignment of the container to the left */
.container {
    margin: 0 auto; /* Center the container horizontally */
     /* Adjust the maximum width as needed */
}
